# ▓ Archivos y carpetas que NO queremos subir

# Datos CSV
*.csv

# Carpeta con scripts SQL u otros datos privados
/sql/

# Archivos de configuración sensible
.env
config.json

# Archivos temporales/intermedios de Python
__pycache__/
*.pyc

# Instrucciones del proyecto (documentos internos)
instrucciones_proy_abril/

# Configuraciones de VSCode
.vscode/

# Entornos virtuales (por si tienes uno local)
.venv/
env/
